@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --color-red: hsl(0, 100%, 74%);
    --color-green: hsl(154, 59%, 51%);
    --color-blue: hsl(248, 32%, 49%);
    --color-dark-blue: hsl(249, 10%, 26%);
    --color-grayish-blue: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-red) url('../images/bg-intro-mobile.png') no-repeat
        center center/cover;
    color: var(--color-grayish-blue);
}

section {
    padding: 80px 24px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left {
    color: #fff;
    line-height: 1.5;
    width: 60%;
}

.left h1 {
    color: #fff;
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.try-btn {
    background-color: var(--color-blue);
    border-radius: 10px;
    padding: 20px 15px;
    margin: 0px 0px 20px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.try-btn span {
    font-weight: 500;
    color: #fff;
}

.login {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.login input {
    padding: 16px;
    margin: 10px 0;
    width: 95%;
    color: var(--color-dark-blue);
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #b9b6d3;
    outline-color: #b3c4e6;
}

.login input::placeholder {
    color: #888;
}

.error {
    color: var(--color-red);
    text-align: right;
    padding-right: 25px;
    font-size: 11px;
    font-weight: 600;
    font-style: italic;
}

.submit-btn {
    background-color: var(--color-green);
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px rgba(37, 142, 96, 0.8);
    letter-spacing: 1.5px;
    border: none;
    outline: none;
    width: 95%;
}

.submit-btn:active {
    transform: translateY(1px);
}

.bottom-text {
    color: var(--color-grayish-blue);
    font-size: 12px;
    padding: 4px 20px;
}

.bottom-text a {
    color: var(--color-red);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

@media (min-width: 600px) and (orientation: landscape) {
    body {
        background: var(--color-red) url('../images/bg-intro-desktop.png')
            no-repeat center center/cover;
    }

    .container {
        flex-direction: row;
    }

    section {
        margin-top: 50px;
    }

    .left {
        color: #fff;
        padding-left: 20px;
        padding-right: 0;
        margin: 80px 0px 40px 100px;
        text-align: left;
        width: 100%;
    }

    .left h1 {
        font-size: 50px;
        line-height: 1.2;
    }

    .right {
        margin-right: 80px;
        padding: 50px 0 0 50px;
        width: 100%;
    }

    .login {
        padding-bottom: 40px;
    }
}
